---
import { copy } from '../site.config';

const footerText = copy.site.footer ? `© ${new Date().getFullYear()} ${copy.site.title}. ${copy.site.footer}` : '';
---
{footerText && (
  <footer class="footer">
    <div>{footerText}</div>
  </footer>
)}
